body {
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

.animate-fadeIn {
    animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.selected {
    background: linear-gradient(90deg, #ff80ff, #ffb380);
    color: white !important;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
